<!-- Low vision -->
<div *ngIf='category'>
  <div class="applications-header" *ngIf="category._id === '5ba11e036343f715c0e786bf'; else othercategory">
    <h4>{{category.name}}: Subcategorías</h4>
  </div>
  <div class="row" *ngFor='let child of category.children'>
    <div class="inner-row">
      <div class="col-md-10">
        <h4>{{child.name}}</h4>
      </div>
      <div class="col-md-2" id="btn-more">
        <a routerLink='{{child.url}}/{{child.url}}'>
          <button type="button" class="btn btn-info" tooltip="Ver más aplicaciones.">
            ver más
          </button>
        </a>
      </div>
    </div>

    <!--Applications-->
    <div class="inner-row">
      <div class="col-md-4" *ngFor='let application of applications'>
        <div class="jumbotron">
          <a routerLink="/application/{{application._id}}">
            <!-- <a role="button" (click)='onSelect(application)'> -->
            <img class="logo center-block" src="{{application.logo}}" alt="">
          </a>
          <br>
          <div class="info">
            <small>Nombre: {{application.name}}</small>
            <br>
            <small>Categoría: {{child.name}}</small>
            <br>
            <div class="info-rating">
              <small>Valoración:
                <rating [(ngModel)]="application.rating" [max]="max" [readonly]="isReadonly"></rating>
              </small>
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>

  </div>


  <!-- Blindness -->
  <ng-template #othercategory>
    <div class="applications-header">
      <h4>{{category.name}}: Aplicaciones</h4>
    </div>

    <div class="row">
      <!--Applications-->
      <div class="inner-row">
        <div class="col-md-4" *ngFor='let application of applications'>
          <div class="jumbotron">
            <a routerLink="/application/{{application._id}}">
              <!-- <a role="button" (click)='onSelect(application)'> -->
              <img class="logo center-block" src="{{application.logo}}" alt="">
            </a>
            <br>
            <div class="info">
              <small>Nombre: {{application.name}}</small>
              <br>
              <small>Categoría: {{category.name}}</small>
              <br>
              <div class="info-rating">
                <small>Valoración:
                  <rating [(ngModel)]="application.rating" [max]="max" [readonly]="isReadonly"></rating>
                </small>
              </div>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>