<div *ngIf='bestRatedApps && latestApps && lowVisionApps && blindnessApps'>
  <!--Section-->
  <div class="row" *ngFor="let section of sections">
    <div *ngIf="section.section === 'Aplicaciones mejor valoradas'">
      <div class="inner-row">
        <div class="col-md-10">
          <h4>{{section.section}}</h4>
        </div>
        <!-- <div class="col-md-2" id="btn-more">
          <a routerLink='{{section.route}}/{{section.id}}'>
            <button type="button" class="btn btn-info" tooltip="Ver más aplicaciones.">
              ver más
            </button>
          </a>
        </div> -->
      </div>

      <!--Applications-->
      <div class="inner-row">
        <div class="col-md-4" *ngFor='let application of bestRatedApps'>
          <div class="jumbotron">
            <a routerLink="/application/{{application._id}}">
              <img class="logo center-block" src="{{application.logo}}" alt="">
            </a>
            <br>
            <div class="info">
              <small>Nombre: {{application.name}}</small>
              <br>
              <small>Categoría: {{application.category}}</small>
              <br>
              <small>Valoración: </small>
              <rating [(ngModel)]="application.rating" name="rating" [max]="max" [readonly]="isReadonly"></rating>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Section-->
    <div *ngIf="section.section === 'Últimas subidas'">
      <div class="inner-row">
        <div class="col-md-10">
          <h4>{{section.section}}</h4>
        </div>
        <!-- <div class="col-md-2" id="btn-more">
          <a routerLink='{{section.route}}/{{section.id}}'>
            <button type="button" class="btn btn-info" tooltip="Ver más aplicaciones.">
              ver más
            </button>
          </a>
        </div> -->
      </div>

      <!--Applications-->
      <div class="inner-row">
        <div class="col-md-4" *ngFor='let application of latestApps'>
          <div class="jumbotron">
            <a routerLink="/application/{{application._id}}">
              <img class="logo center-block" src="{{application.logo}}" alt="">
            </a>
            <br>
            <div class="info">
              <small>Nombre: {{application.name}}</small>
              <br>
              <small>Categoría: {{application.category}}</small>
              <br>
              <small>Valoración: </small>
              <rating [(ngModel)]="application.rating" name="rating" [max]="max" [readonly]="isReadonly"></rating>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Section-->
    <div *ngIf="section.section === 'Baja Visión'">
      <div class="inner-row">
        <div class="col-md-10">
          <h4>{{section.section}}</h4>
        </div>
        <div class="col-md-2" id="btn-more">
          <a routerLink='{{section.route}}/{{section.id}}'>
            <button type="button" class="btn btn-info" tooltip="Ver más aplicaciones.">
              ver más
            </button>
          </a>
        </div>
      </div>

      <!--Applications-->
      <div class="inner-row">
        <div class="col-md-4" *ngFor='let application of lowVisionApps'>
          <div class="jumbotron">
            <a routerLink="/application/{{application._id}}">
              <img class="logo center-block" src="{{application.logo}}" alt="">
            </a>
            <br>
            <div class="info">
              <small>Nombre: {{application.name}}</small>
              <br>
              <small>Categoría: {{application.category}}</small>
              <br>
              <small>Valoración: </small>
              <rating [(ngModel)]="application.rating" name="rating" [max]="max" [readonly]="isReadonly"></rating>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Section-->
    <div *ngIf="section.section === 'Ceguera'">
      <div class="inner-row">
        <div class="col-md-10">
          <h4>{{section.section}}</h4>
        </div>
        <div class="col-md-2" id="btn-more">
          <a routerLink='{{section.route}}/{{section.id}}'>
            <button type="button" class="btn btn-info" tooltip="Ver más aplicaciones.">
              ver más
            </button>
          </a>
        </div>
      </div>

      <!--Applications-->
      <div class="inner-row">
        <div class="col-md-4" *ngFor='let application of blindnessApps'>

          <div class="jumbotron">
            <a routerLink="/application/{{application._id}}">
              <img class="logo center-block" src="{{application.logo}}" alt="">
            </a>
            <br>
            <div class="info">
              <small>Nombre: {{application.name}}</small>
              <br>
              <small>Categoría: {{application.category}}</small>
              <br>
              <small>Valoración: </small>
              <rating [(ngModel)]="application.rating" name="rating" [max]="max" [readonly]="isReadonly"></rating>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>