<!--Primary Navbar-->
<nav class="navbar navbar-default">
  <div class="container-fluid">

    <!--Logo & brand name-->
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">
        <span>
          <img id="brand-image" src="assets/images/Logo.svg" alt="Catálogo de aplicaciones">
          <img id="brand-image" src="assets/images/LogoTitulo.svg" alt="Catálogo de software para discapacidad visual">
        </span>
      </a>
    </div>

    <!-- Collapsible button -->
    <button id="collapsible-btn" type="button" tooltip="Mostrar/ocultar menú" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"
      (click)="isCollapsed = !isCollapsed" aria-expanded="false">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <!--Search bar-->
    <form id="search-bar" class="navbar-form navbar-left" (submit)="onSearch()">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Buscar aplicaciones..." [(ngModel)]="searchTerm" name="searchTerm" size="40px">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form>

    <!--Login & Help Buttons-->

    <div class="collapse navbar-collapse" id="myNavbar" [collapse]="isCollapsed">
      <ul class="nav navbar-nav navbar-right">
        <li [routerLinkActive]="['active']" *ngIf="!logged()">
          <a routerLink="/register">
            <span class="fa fa-user-plus"></span> Regístrate</a>
        </li>
        <li [routerLinkActive]="['active']" *ngIf="!logged()">
          <a routerLink="/login">
            <span class="glyphicon glyphicon-log-in"></span> Ingresa</a>
        </li>
        <li [routerLinkActive]="['active']" *ngIf="logged()">
          <a routerLink="/user">
            <span class="glyphicon glyphicon-user"></span> Perfil</a>
        </li>
        <li *ngIf="logged()">
          <a href="#" (click)='onLogout()'>
            <span class="glyphicon glyphicon-log-out"></span> Cerrar</a>
        </li>
        <li [routerLinkActive]="['active']">
          <a routerLink='/help'>
            <span class="glyphicon glyphicon-question-sign"></span> Ayuda</a>
        </li>

        <!-- *ngIf="authService.loggedIn()" -->
      </ul>
    </div>
  </div>
</nav>

<!--Secondary Navbar-->
<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="myNavbar" [collapse]="isCollapsed">
      <ul class="nav navbar-nav">
        <li [routerLinkActive]="['active']">
          <a routerLink="home">Home</a>
        </li>

        <!--dropdown-->
        <li dropdown class="dropdown" [routerLinkActive]="['active']">
          <a dropdownToggle role="button">Categorías
            <span class="caret"></span>
          </a>
          <ul *dropdownMenu class="dropdown-menu">
            <li *ngFor="let category of categories">
              <a routerLink='/category/{{category._id}}'>{{category.name}}</a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a routerLink="#">Todas las categorías</a>
            </li>
          </ul>
        </li>

        <li *ngFor='let option of options' [routerLinkActive]="['active']">
          <a routerLink='{{option.route}}'>{{option.name}}</a>
        </li>

      </ul>
    </div>

  </div>
</nav>

<flash-messages></flash-messages>
<router-outlet></router-outlet>